In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('bookings.csv',sep=';')
df.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [3]:
df.columns=df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "")
df.head()

,hotel,iscanceled,leadtime,arrivalfulldate,arrivaldateyear,arrivaldatemonth,arrivaldateweeknumber,arrivaldatedayofmonth,staysinweekendnights,staysinweeknights,...,adults,children,babies,meal,country,reservedroomtype,assignedroomtype,customertype,reservationstatus,reservationstatus_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

#### Пользователи из каких стран совершили наибольшее число успешных бронирований?

In [4]:
df.query('iscanceled==0')\
.groupby('country',as_index=False)\
.agg({'iscanceled':'count'})\
.sort_values('iscanceled',ascending=False)\
.head()

#Пользователи Португалии и Германии совершили больше всего бронирований

    country  iscanceled
125     PRT       21071
57      GBR        9676
54      FRA        8481
50      ESP        6391
42      DEU        6069

#### На сколько ночей в среднем бронируют отели разных типов?

In [30]:
df.groupby('hotel',as_index=False)\
.agg({'staystotalnights': 'mean'})\
.round(2)

          hotel  staystotalnights
0    City Hotel              2.98
1  Resort Hotel              4.32

#### Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

In [38]:
df.query('assignedroomtype != reservedroomtype').shape[0]
#или можно воспользоваться .count()

14917

#### Проанализируйте даты запланированного прибытия. 
#### На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
#### Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.

In [10]:
df.columns

Index(['hotel', 'iscanceled', 'leadtime', 'arrivalfulldate', 'arrivaldateyear',
       'arrivaldatemonth', 'arrivaldateweeknumber', 'arrivaldatedayofmonth',
       'staysinweekendnights', 'staysinweeknights', 'staystotalnights',
       'adults', 'children', 'babies', 'meal', 'country', 'reservedroomtype',
       'assignedroomtype', 'customertype', 'reservationstatus',
       'reservationstatus_date'],
      dtype='object')

In [5]:
df.query('iscanceled==0')\
  .query('arrivaldateyear==2016')\
  .arrivaldatemonth\
  .value_counts()
#Чаще всего в 2016 бронировали в октябре

October      3689
May          3563
September    3372
April        3367
March        3347
August       3238
June         3196
July         3073
November     2818
February     2554
December     2462
January      1691
Name: arrivaldatemonth, dtype: int64

In [6]:
df.query('iscanceled==0')\
  .query('arrivaldateyear==2017')\
  .arrivaldatemonth\
  .value_counts()
#Чаще всего в 2017 бронировали в мае

May         3551
July        3329
March       3298
June        3208
April       3198
August      3109
February    2818
January     2431
Name: arrivaldatemonth, dtype: int64

#### В каком из месяцев было больше всего отмен бронирования для отелей типа City Hotel

In [11]:
df.columns

Index(['hotel', 'iscanceled', 'leadtime', 'arrivalfulldate', 'arrivaldateyear',
       'arrivaldatemonth', 'arrivaldateweeknumber', 'arrivaldatedayofmonth',
       'staysinweekendnights', 'staysinweeknights', 'staystotalnights',
       'adults', 'children', 'babies', 'meal', 'country', 'reservedroomtype',
       'assignedroomtype', 'customertype', 'reservationstatus',
       'reservationstatus_date'],
      dtype='object')

In [12]:
df.query('iscanceled==1 and hotel== "City Hotel"')\
  .groupby('arrivaldateyear')\
  .arrivaldatemonth\
  .value_counts()\
  .head()

arrivaldateyear  arrivaldatemonth
2015             September           1543
                 October             1321
                 August              1232
                 July                 939
                 December             668
Name: arrivaldatemonth, dtype: int64

#### Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [76]:
df.adults\
.mean()

1.8564033838679956

In [77]:
df.children\
.mean()

0.10388990333874994

In [79]:
df.babies\
.mean()

0.007948739425412514

In [ ]:
#Наибольшее среднее значение у переменной adults

#### Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?

In [14]:
df['total_kids']=df['children'] + df['babies']
df.columns

Index(['hotel', 'iscanceled', 'leadtime', 'arrivalfulldate', 'arrivaldateyear',
       'arrivaldatemonth', 'arrivaldateweeknumber', 'arrivaldatedayofmonth',
       'staysinweekendnights', 'staysinweeknights', 'staystotalnights',
       'adults', 'children', 'babies', 'meal', 'country', 'reservedroomtype',
       'assignedroomtype', 'customertype', 'reservationstatus',
       'reservationstatus_date', 'total_kids'],
      dtype='object')

In [17]:
df.groupby('hotel',as_index=False)\
.agg({'total_kids':'mean'})\
.round(2)\
.max()

hotel         Resort Hotel
total_kids            0.14
dtype: object

#### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [21]:
df['has_kids']=df['total_kids']>0
no_kids= df.query('iscanceled==1 and has_kids==False').shape[0]/ df.query('has_kids==False').shape[0]
no_kids=round(no_kids*100,2)

no_kids

37.22

In [22]:
yes_kids= df.query('iscanceled==1 and has_kids==True').shape[0]/ df.query('has_kids==True').shape[0]
yes_kids=round(yes_kids*100,2)

yes_kids

34.92

In [ ]:
# Показатель отношения количества ушедших пользователей к общему количеству клиентов выше у клиентов, не имеющих детей