In [31]:
import pandas as pd
import numpy as np

#### У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

In [2]:
sample_ads=pd.read_csv('sample_ads.csv')
sample_ads.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [17]:
sample_ads.shape

(18, 3)

In [21]:
not_nan_count=sample_ads.shape[0]-sample_ads.click_type.isna().sum()
not_nan_count

11

#### Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [5]:
table=pd.read_csv('table - Лист1.csv')
table

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [6]:
table.users.sum()

288

In [16]:
table["percent"]=round(table.users/table.users.sum()*100,0)
table

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

#### В списке lst находятся различные элементы. Создайте списк new_list и сделайте следующее: - при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int - если это получилось – добавьте преобразованное значение в список new_list

In [28]:
lst=[2,4,12,'b']
new_list=[]
for i in lst:
    try:
        new_list.append(int(i))
    except:
        continue
    
print (new_list)

[2, 4, 12]

#### Скачайте файл с данными посещаемости сайта Яндекс.Метрика . При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots
Может понадобиться:

str.contains(

In [29]:
df=pd.read_csv('karpov_courses_test.csv')
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [37]:
chrome_robots=np.where((df.browser.str.contains('Chrome'))&(df.user_type=="Robots"),1,0)
chrome_robots=pd.Series(chrome_robots)
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int32